.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  background-color: black;
  overflow-y: scroll;
}

.prof-details {
  display: flex;
  width: 80%;
  align-items: center;
  font-size: x-large;
}

.prof-img {
  height: 30vh;
  width: 40vw;
  border-radius: 30%;
  margin-right: 5%;
}

.clickables {
  width: 80%;
  margin-top: 2%;
  padding-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  border-top: .5vh solid rgb(118, 224, 89);
  border-bottom: .5vh solid rgb(118, 224, 89);
  display: flex;
  justify-content: space-around;
  font-size: larger;
}

.clickables > div:hover {
  cursor: pointer;
  text-decoration: underline;
}

.proff-links {
  width: 80%;
  min-height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
  list-style: none;
}

.proff-links > li > a {
  text-decoration: none;
}

.proff-links > li > a:hover {
  text-decoration: underline;
}

.project {
  margin-bottom: 5%;
  width: 80vw;
  list-style: none;
  padding-bottom: 2%;
  border-bottom: .5vh solid rgb(118, 224, 89);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.proj-img {
  margin-bottom: 2%;
  width: 80vw;
  height: 80vh;
}

.proj-dets {
  font-size: xx-large;
}

.proj-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.proj-links > a {
  text-decoration: none;
  font-size: xx-large;
}

.proj-links > a:hover {
  text-decoration: underline;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

.skills-list > li {
  margin-right: 30%;
  font-size: x-large;
}


.contact-info {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: x-large;
  text-align: center;
}
